<div class="form-card">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, label: 'Any comment' %>
    <%= f.input :movie, as: :select, collection: Movie.all, prompt: 'Select Movie', label: false %>
    <div class="submit-button-wrap">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
